#empty(
  x-init='listStyle = "empty"'
  class='rounded-sm text-center p-6 text-h-800 dark:text-h-200 bg-h-200 dark:bg-h-700')
  .txt(class='font-bold') No posts found.
  .desc Please try entering your search again or move to another category.

style
  :postcss
    [data-list-style=empty] {
      @apply index-container;
    }
