section#notice.permalink-container
  // Cờ dành riêng cho Notice: header sẽ đọc 2 data-* này
  span#notice-flag.hidden(data-title='Hello', data-subtitle='Pursuing a major in Information Security at PTIT')

  s_notice_rep
    s_index_article_rep
      +index('notice_rep', false)
    s_permalink_article_rep
      +permalink('notice', false)
