s_notice_rep
    s_index_article_rep
      +index('notice_rep', false)
    s_permalink_article_rep
      +permalink('notice', false)

style
  :postcss
    .tt_article_useless_p_margin [style*="color"] {
      color: inherit !important; /* bỏ hiệu lực inline color */
    }
