li#counter.el(class='flex justify-between')
  .total(class='text-left')
    .tit Total
    .cnt [##_count_total_##]
  .day(class='flex gap-x-2 text-right')
    .today
      .tit Today
      .cnt [##_count_today_##]
    .yesterday
      .tit Yesterday
      .cnt [##_count_yesterday_##]

style
  :postcss
    #counter {
      .tit {
        @apply text-h-400 text-xs;
      }

      .cnt {
        @apply text-h-600 dark:text-h-200;
      }
    }
